@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-slate-800;
    font-family: "Inter", sans-serif;
  }
  .feature-logo {
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 10rem;
    filter: grayscale(1) opacity(0.5);
    mix-blend-mode: color-burn;
  }
  .card-ico {
    @apply h-9 w-9 mb-6;
  }
  .ico-service {
    @apply h-9 w-9;
  }
}
