@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-slate-800;
    font-family: "Inter", sans-serif;
  }
  .feature-logo {
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 10rem;
    filter: grayscale(1) opacity(0.5);
    mix-blend-mode: color-burn;
  }
  .customer-logo {
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 16rem;
  }
  .card-ico {
    @apply h-9 w-9 mb-6;
  }
  .ico-service {
    @apply rounded-md mb-8;
  }
  .stat-box {
    @apply flex flex-col justify-center items-center;
  }
  .stat-no {
    @apply text-5xl font-semibold text-sky-500 mb-4;
  }
  .stat-txt {
    @apply text-lg;
  }
  .float-txt {
    @apply bg-sky-300 rounded-md px-1 flex flex-col justify-center items-center;
    position: absolute;
    top: -3rem;
    left: -4rem;
  }
  .img-test {
    @apply absolute w-28;
    right: -3rem;
    bottom: -4rem;
  }
  .form-field {
    @apply w-2/3 h-10 rounded-md;
  }
  .form-label {
    @apply text-xl text-sky-900 mb-2;
  }
}
